<%- include('./layout/header.ejs',
{title:'Documentations',description:'gdgfgfdgfd',img:'',kw:''})%>
<main>
    <section class="video-wrapper-1 home-wrapper-2  py-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
                <h4 class="text-center  mb-3" style="color:#00d263!important">Documentations</h4>
                <h5 class="text-center">Last updated April 08, 2023</h5>
                </p>
            </div>
    
        </div>
          <div class="row  pt-4">
         
    <% getAllHowTo.forEach(element => { %>
        <div class="col-12 col-sm-6 col-lg-4 my-3">
            <div class="slider-card h-100">
                <div class="bg-white">
                    <img src= "<%- element.image ?  element.image : '/images/a.webp' %> " class="w-auto img-fluid" alt="video">
                    <div class="p-3">
                        <h5><%- element.type  %></h5>
                        <h3 class="text-start"><%- element.title  %></h3>
                        <a href="/documentation/<%- element.slug  %>" class="button-2 w-100 text-center">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>    
      
        </div>
    </section>
</main>
<%- include('./layout/footer.ejs') %>


