<%- include('./layout/header.ejs',
{title:data.title,description:data.topicName,img:'',kw:data.keywords})%>
<main>
  <section class="video-wrapper-1 home-wrapper-2  pb-5">
    <div class="container-fluid">
      <div class="row  pt-4">
        <div class="col-3">
        <div class="navigator card p-2">
          <% tutorialsTopics.forEach(element => { %>
            <a class="d-block" href="/tutorials/<%- element.tutorialCategorySlug %>/<%- element.slug  %>"><%- element.topicName %></a>
            <hr class="my-1 bg-white">
           <% }) %>
        </div>
        </div>
      <div class="col-7">
          <h3 class="mb-3 text-dark"><%- data.topicName  %></h1>
        <section class="tutorial">
          <%- data.content  %> 
        </section>
      </div>
      </div>
    </div>
</section>
</main>
<%- include('./layout/footer.ejs') %>
