<%- include('./layout/header.ejs',
{title:'Contact us',description:'gdgfgfdgfd',img:'',kw:''})%>

<section class="video-wrapper-1 py-5 pt-0 mt-5">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <h1 class="heading mb-4 text-center">
            <span style= "color: #000" >All </span>
            <span style= "color: rgb(245, 141, 28)" >Videos</span>
          </h1>
        </div>
      </div>
      <div class="row  pt-4">
        <% for( let index = 0; index < data.length; index++ ) { %>
            <div class="d-block col-12 col-sm-6 col-lg-4 mt-4 mt-lg-4">
                <div class="card" style="width:100%;">
                    <img src="<%= data[index].image.url %>" height="350" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="text-decoration-none cursor-pointer"><%= data[index].title %></h5>
                      <p class="text-decoration-none cursor-pointer"><%= data[index].desc %></p>
                      <a href="#" class="button mt-4">Go somewhere</a>
                    </div>
                  </div>
            </div>
        <% } %>
       
        
      </div>
    </div>
  </section>

<%- include('./layout/footer.ejs') %>
